micronaut:
  application:
    name: app

endpoints:
  prometheus:
    enabled: true
    sensitive: false
  health:
    enabled: true
    sensitive: false

  info:
    enabled: true
    sensitive: false

logger:
  levels:
    io.micronaut.context: DEBUG

